/.env
/cc-venv

/datasets/olist_geolocation_dataset.csv
/analytics/dim_geolocation.csv

/datasets/.ipynb_checkpoints
/transformation/models/.ipynb_checkpoints
/analytics/.ipynb_checkpoints

/.ipynb_checkpoints
/.DS_Store

/database/database.db



